<LimitExcept GET POST DELETE PUT HEAD>
  Order Allow,Deny
  Deny from all
</LimitExcept>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://fallr.ca"
    Header set Access-Control-Allow-Credentials true
</IfModule>

RewriteEngine On

## SETTERS

# Create accounts and login
RewriteRule ^login$ login.php [NC,L]
RewriteRule ^logout$ logout.php [NC,L]
RewriteRule ^createAccount$ createAccount.php [NC,L] 

# Updates user information
RewriteRule ^user/([A-Za-z0-9\ ]*)$ users.php?updateUser=true&username=$1 [QSA] 

# This creates a post
RewriteRule ^post$ posts.php [NC,L] 

# This deletes a post
RewriteRule ^post/delete/([0-9]*)$ posts.php?delete=true&postID=$1 [NC,L] 

# This updates a post
RewriteRule ^post/update/([0-9]*)$ posts.php?update=true&postID=$1 [NC,L] 

# This creates a comment for a post 
RewriteRule ^comment$ comments.php [NC,L]

# This deletes a comment for a post
RewriteRule ^comments/([0-9]*)$ comments.php?commentID=$1 [NC,L]

# This subscribes / Unsubscribes from a user
RewriteRule ^subscribe$ subscribe.php [NC,L]

# This likes / unlikes a post
RewriteRule ^like$ like.php [NC,L]

# Updates Password
RewriteRule ^updatePassword$ updatePassword.php [NC,L]

# Updates background
RewriteRule ^user/background/set$ users.php?background=true [NC,L]

## GETTERS 

# This gets the data for a user (depending on if logged in as user, personal or not)
RewriteRule ^users/([A-Za-z0-9\ ]*)$ users.php?username=$1 [QSA]

# This gets the posts for a user
RewriteRule ^posts/([A-Za-z0-9\ ]*)$ posts.php?username=$1 [QSA]

# This gets a post based on a postID
RewriteRule ^posts/id/([0-9]*)$ posts.php?postID=$1 [QSA]

# This gets the feed for a user (people they have subscribed to)
RewriteRule ^feed$ feed.php [NC,L]

# This gets the hotfeed for all users
RewriteRule ^feed/hot$ hotfeed.php [NC,L]

# This gets a comment based on an id
RewriteRule ^comments/([0-9]*)$ getComments.php?commentID=$1 [QSA]

# This gets all comments for a post
RewriteRule ^posts/comments/([0-9]*)$ getComments.php?postID=$1 [QSA]

# This gets the subsciptions for a user
RewriteRule ^users/subscriptions/([A-Za-z0-9\ ]*)$ subscribe.php?username=$1 [QSA]

# This gets the followers for a user
RewriteRule ^users/followers/([A-Za-z0-9\ ]*)$ subscribe.php?followers=true&username=$1 [QSA]

# This gets all likes for a post
RewriteRule ^posts/likes/([A-Za-z0-9]*)$ like.php?postID=$1 [QSA]

# This gets all likes for a post
RewriteRule ^users/deactivate/([A-Za-z0-9]*)$ users.php?deactivateUser=true&username=$1 [QSA]

# This gets all users similar to search
RewriteRule ^search/username/([A-Za-z0-9\ ]*)$ search.php?type=username&username=$1 [QSA]

# This gets the user with an email address
RewriteRule ^search/email/([A-Za-z0-9]+@[A-Za-z0-9]+\.[A-Za-z]{2,})$ search.php?type=email&email=$1 [QSA]

# This gets all users similar to post name
RewriteRule ^search/post/([A-Za-z0-9]*)$ search.php?type=post&post=$1 [QSA]

# This gets all posts similar to post name
RewriteRule ^search/allPosts/([A-Za-z0-9]*)$ search.php?type=allPosts&post=$1 [QSA]

# This gets all statistical data (hour, day, week, month)
RewriteRule ^stats/posts/([A-Za-z0-9]*)$ statistics.php?type=$1 [QSA]

# This gets a user's background
RewriteRule ^user/background/get/([A-Za-z0-9\ ]*)$ users.php?background=true&username=$1 [QSA] 

# This gets a user's background
RewriteRule ^isAdmin/([A-Za-z0-9\ ]*)$ isAdmin.php?username=$1 [QSA] 