<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

RewriteEngine On

RewriteRule ^login$ login.php [NC,L]
RewriteRule ^createAccount$ createAccount.php [NC,L] 
RewriteRule ^userpages/([0-9]*)$ userpages.php?userID=$1 [NC,L]
RewriteRule ^users/([0-9]*)$ users.php?userID=$1 [NC,L]
RewriteRule ^feed/([0-9]*)$ feed.php?userID=$1 [NC,L]
RewriteRule ^feed/hot$ hotfeed.php [NC,L]
RewriteRule ^posts/([0-9]*)$ posts.php?postID=$1 [NC,L]
RewriteRule ^posts/comments/([0-9]*)/([0-9]*)$ comments.php?postID=$1&commentID=$2 [NC,L]
RewriteRule ^subscribe subscribe.php [NC,L]
