html, body {
    min-height: 100%;
    background-color: #438173;
}

.navbar{
  background-color: #333333;
}
.navbar-light .navbar-nav .nav-link {
  color: #F0F7F4;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #438173;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login {
  width: 80%;
  background-color: #F0F7F4;
}

#login div {
    display: flex;
    align-items: center;
    justify-content: center;
}

form:not(#search-form) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F0F7F4;
    width: 80%;
    height: 80%;
}

form div {
    margin: 0.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form div input:not(#login-button) {
    width: 100%;
}

@media (max-width: 667px) {
    /* Makes it so when the screen is small, it shrinks the size*/
    .container .row {
      min-height: 400px;
    }
    .container {
      height: 100vh;
      width: 100%;
      background-color: #3A4B48;
      display: flex;
      padding-top: 5em;
      width:100%;
    }  

    #login {
      height: auto;

    }
  }

  @media (min-width: 668px) {
    /* Makes it so when the screen is large, it expands the size*/
    .container .row {
      min-height: 600px;
    }

    .container {
      height: 100vh;
      width: 80%;
      background-color: #3A4B48;
      display: flex;
      padding-top: 5em;
      width:80%;
    }

    #login {
      height: 90%;
    }
  }
