body{
    background-color: #438173;
}
.navbar{
    background-color: #333333;
}
.navbar-light .navbar-nav .nav-link {
    color: #F0F7F4;
}

.navbar-light .navbar-nav #active {
    color: #6F857D;
  }

.navbar-light .navbar-nav .nav-link:hover:not(#active) {
    color: #438173;
  }

  .btn{
    margin-top: 15%;
  }
  #user_s div#user_blog.media-body{
    height: 10%;
  }
  #img_container{
      text-align: center;
      display: block;
      margin-top: 2em;
  }

  img#user_pic{
      margin-left: auto;
      margin-right: auto;
      height: 90px;
      border-radius: 70%;
      margin-bottom: 2em;
      margin-top: 2em;
  }
  #img_container2{
      text-align: left;
      display: block;
  }
  img {
      max-width: 100%;
      height: auto;
      width: auto\9; /* ie8 */
  }
  #user_img{
      height: 50px;
      width: 50px;
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 1em;
      margin-right: 1em;
      border-radius: 50%;
  }
  #user_info{
      color: #F0F7F4;
      text-align: center;
      border-radius: 25px;
  }

  #posts{
      background-color:#3A4B48;
      padding-top: 1em;
      padding-bottom: 1em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      height: 100vh
  }

  #post{
      background-color: #6F857D;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 25px;
      padding-bottom: 1em;

  }
  #user_s{
      background-color: #6F857D;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2em;
      margin-bottom: 2em;
      border-radius: 25px;

  }
  #f{
      display: flex;
      height: fit-content;
      margin: 0.25em;
  }

  #user_blog{
      width: 94%;
      background-color: #F0F7F4;
      margin-top: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
      border-radius: 25px;
  }
  #post p{
      margin-left: 1em;
      margin-top: 1em;
  }
  #content{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #F0F7F4;
    padding-top: 0.5em;
    padding-bottom: 10em;
    height: fit-content;
    position: relative;
    border-radius: 25px;
  }
  #likes{
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 1em;
      background-color: #F0F7F4;
      display: flex;
      align-items: flex-end;
      bottom: 0;
      width: 90%;
      position: absolute;
  }
  #likes button{
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 0.5em;
  }
  #comment_input{
      margin-bottom: 0.5em;
  }
  #comment_submit{
      margin-left: 2em;
      margin-bottom: 0.5em;
  }
  #like_bt{
      width: 50px;
      height: 50px;
  }
  #comments{
    background-color:#3A4B48;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #add_comments{
    background-color:#3A4B48;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #add_comments h3{
    color: #6F857D;
  }
  #comLabel{
    color: #ADE6D9;
    padding-left: 2%;
    padding-top: 1%;
  }
  #comment{
    background-color: #6F857D;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }
  #add_comment{
    width: 90%;
    margin-left: 5%;
  }
  #comment_button{
    width: 90%;
    margin-left: 5%;

    margin-top: 1%;
  }
  #user_blog p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
    padding-top: 1%;
  }
  .form-group{
    margin-left: auto;
    margin-right:auto;
  }
@media (max-width: 543px) {
    /* Makes it so when the screen is small, it shrinks the size*/
    .container .row {
      min-height: 400px;
    }
    #search_bar {
      width: 375px;
  }
  }

  @media (min-width: 544px) {
    /* Makes it so when the screen is large, it expands the size*/
    .container .row {
      min-height: 600px;
    }

    #search_bar {
      width: 500px;
  }
  }
