RewriteEngine On

RewriteRule ^login$ login.html [NC,L]
RewriteRule ^user/([0-9a-zA-Z_-]*)$ user.php?username=$1 [QSA]
RewriteRule ^feed$ feed.html [NC,L]
RewriteRule ^createAccount$ createAccount.html [NC,L]
RewriteRule ^trending$ trending.html [NC,L]
RewriteRule ^settings$ settings.html [NC,L]
RewriteRule ^passwordUpdateEmail$ passwordUpdateEmail.html [NC,L]
RewriteRule ^personal_blog$ personal_blog.html [NC,L]
RewriteRule ^passwordUpdate([0-9a-zA-Z_-]*)$ passwordUpdate.html?$1
RewriteRule ^statistics$ statistics.html [NC,L]
RewriteRule ^admin$ admin.html [NC,L]
RewriteRule ^postpage$ postpage.html [NC,L]
RewriteRule ^createPost$ createPost.html [NC,L]
RewriteRule ^search_result([0-9a-zA-Z_-]*)$ search_result.html?$1
RewriteRule ^blog([0-9a-zA-Z_-]*)$ blog.html?$1
RewriteRule ^edit_post$ edit_post.html
RewriteRule ^edit_comment$ edit_comment.html